################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SupervisoryService/SupervisoryServiceLibrary/Form1.cs
